* {
  margin: 0;
  padding: 0; }

.container {
  padding: 0 200px 0 200px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff; }
  body header .header-top-line {
    height: 10px;
    background: #2ecc71; }
  body header .wrapper {
    background: url(../assets/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    body header .wrapper .container {
      display: flex;
      justify-content: space-around;
      padding-top: 100px;
      align-items: center; }
      body header .wrapper .container .nav-left {
        width: 30%;
        padding: 0 120px 0 120px;
        color: #ffffff;
        margin-bottom: 100px; }
        body header .wrapper .container .nav-left h1 {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 60px; }
          body header .wrapper .container .nav-left h1 span {
            color: #2ecc71; }
        body header .wrapper .container .nav-left p {
          font-size: 24px;
          margin-top: 50px; }
        body header .wrapper .container .nav-left .icons {
          margin-top: 25px;
          width: 60%;
          display: flex;
          justify-content: space-between; }
          body header .wrapper .container .nav-left .icons a {
            width: 60px;
            height: 60px;
            font-size: 24px;
            border-radius: 50%;
            text-decoration: none;
            color: #ffffff;
            background: #37251ba5;
            display: flex;
            justify-content: center;
            align-items: center; }
            body header .wrapper .container .nav-left .icons a i {
              opacity: 0.2; }
          body header .wrapper .container .nav-left .icons a:hover {
            background: #2ecc71;
            transition-delay: 10ms; }
            body header .wrapper .container .nav-left .icons a:hover i {
              opacity: 100; }
      body header .wrapper .container .nav-right .image {
        background: url("../assets/123.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 530px;
        height: 600px; }
  body .features .container {
    display: flex;
    justify-content: space-between; }
    body .features .container .box {
      width: 25%;
      padding: 100px 0 100px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      body .features .container .box h2 {
        margin-top: 40px; }
      body .features .container .box p {
        margin-top: 30px;
        font-size: 18px; }
  body .get-notified {
    background: #e3e3e3;
    display: flex; }
    body .get-notified .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 60px;
      padding-bottom: 80px; }
      body .get-notified .container .left-side {
        width: 40%; }
        body .get-notified .container .left-side h2 {
          color: #222222; }
        body .get-notified .container .left-side p {
          margin-top: 30px;
          letter-spacing: 2px;
          color: #848484;
          line-height: 30px; }
        body .get-notified .container .left-side .input-btn {
          margin-top: 30px;
          display: flex;
          align-items: center; }
          body .get-notified .container .left-side .input-btn input {
            height: 48px;
            width: 280px;
            padding-left: 26px;
            border: 0.5px solid #c8c8c8;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            outline: none;
            font-size: 1rem; }
          body .get-notified .container .left-side .input-btn input::placeholder {
            font-size: 1rem; }
          body .get-notified .container .left-side .input-btn button {
            height: 50px;
            width: 140px;
            border: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            margin: 0;
            background: #2ecc71;
            font-size: 15px;
            color: #ffffff; }
          body .get-notified .container .left-side .input-btn button:hover {
            cursor: pointer; }
      body .get-notified .container .right-side {
        margin-top: 40px; }
  body .info-area {
    background: #ffffff; }
    body .info-area .container {
      display: flex;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .info-area .container .testimonials {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; }
        body .info-area .container .testimonials p {
          color: #979797;
          padding: 0 170px 0 170px;
          line-height: 25px; }
        body .info-area .container .testimonials h3 {
          margin-top: 20px; }
        body .info-area .container .testimonials img {
          margin-top: 30px; }
      body .info-area .container .get-in-touch {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body .info-area .container .get-in-touch p {
          margin-top: 20px;
          color: #979797; }
        body .info-area .container .get-in-touch .get-in-t-icons {
          margin-top: 25px;
          width: 25%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          body .info-area .container .get-in-touch .get-in-t-icons a {
            width: 35px;
            height: 35px;
            font-size: 9px;
            border-radius: 50%;
            text-decoration: none;
            color: #ffffff;
            background: #d4d4d4;
            display: flex;
            justify-content: center;
            align-items: center; }
          body .info-area .container .get-in-touch .get-in-t-icons a:hover {
            background: #2ecc71;
            transition-delay: 10ms; }
